
<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" [href]="socials['facebook']" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        
        <a class="cc-twitter btn btn-link " [href]="socials['twitter']" target="_blank">
            <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " [href]="socials['github']" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.{{date}}</p>
    </div>
</footer>