<div class="section" id="projects">
    <div class="container">
      <div class="h4 text-center mb-4 title">Projects</div>
      <div class="row">
        <div *ngFor="let project of projects;let i = index;" class="col-lg-6 col-sm-12 col-md-6 mt-4">
            <div class="card">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div *ngFor="let imageUrl of project.images;let j = index;" class="carousel-item ml-4" [class.active]="j == 0" style="height:400px ;max-width:400px ;">
                        <img [src]="imageUrl" class="d-block w-100 h-100" [alt]="project.title" style="width:max-content; background-size: cover;">
                      </div>
              
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                
                <div class="card-body">
                    <h4 class="card-title h5 mt-0 title">{{project.title}}</h4>
                    <p class="card-text"> {{project.description}}</p>
                    <div class="text-center">
                        <a target="_blank" [href]="project.link" class="btn btn-success">{{project.hasDemoLink ? 'Demo':'GitHub' }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
      <!-- container end -->
    </div>
</div>
